<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

<title>追加完了画面</title>
<style>
h1 {
	font size: 10t;
	font-weight: bold;
	background-color: #DDF;
	padding: 3px;
}
</style>
</head>
<body>
	<h1>追加完了</h1>
	<p th:text=" ${nameForm.firstName} + ' ' + ${nameForm.lastName}" />
	で登録しました。

	<p>
		<a th:href="@{/setName}">続けて追加</a>
	</p>
	<p>
		<a th:href="@{/home}">Topへ戻る</a>
	</p>
</body>
</html>