<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

<title>検索完了画面</title>
<style>
h1 {
	font size: 10t;
	font-weight: bold;
	background-color: #DDF;
	padding: 3px;
}
</style>
</head>
<body>
	<h1>検索完了</h1>
	<h2 th:inline="text">[[${#httpServletRequest.remoteUser}]]</h2>
	で登録しました。

	<p>
		<a th:href="@{/searchName}">続けて検索</a>
	</p>
	<p>
		<a th:href="@{/home}">Topへ戻る</a>
	</p>
</body>
</html>