<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<title>DataBase List</title>
<style>
h1 {
	font size: 10t;
	font-weight: bold;
	background-color: #DDF;
	padding: 3px;
}
</style>
</head>
<body>
	<h1>データベースアクセステスト</h1>
	<h2>ようこそ！！</h2>

	<table class="home">
		<tr th:each="name:${name}">
			<td th:text="${name.firstname} + ' ' + ${name.lastname} + ' さま'"/>
		</tr>
	</table>
	<p></p>
	<hr/>	
	※ユーザ追加を行う場合は<a th:href="@{/setName}">コチラ</a>
	<p></p>
	※ユーザ検索を行う場合は<a th:href="@{/searchName}">コチラ</a>
	<p></p>
	
</body>

</html>