<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<script type="text/javascript">
<!--
	function chktext(obj) {
		if (!obj.value) {
			chktext[obj.name] = false;
			alert("passwordがないです。");
			if (!!obj.style)
				obj.style.backgroundColor = 'lightpink';
		} else {
			chktext[obj.name] = true;
			if (!!obj.style)
				obj.style.backgroundColor = 'white';
		}
	}
// -->
</script>
<title>ログイン画面</title>
</head>
<body>
	<div th:if="${param.error}">登録されていません</div>
	<div th:if="${param.logout}">ログアウトしました</div>
	<p></p>
	<form th:action="@{/login}" method="post">
		<div>
			<label> UserName : <input type="text" name="username"  style="ime-mode:disabled"/>
			</label>
		</div>
		<div>
			<label> PassWord : <input type="password" name="password"
				onblur="chktext(this)" />
			</label>
		</div>
		<div>
			<input type="submit" value="ログイン" />
		</div>
	</form>
		<hr/>
	<p>
		<a th:href="@{/home}">Topへ戻る</a>
	</p>
</body>
</html>