<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>ユーザ登録画面</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
h1 {
	font size: 10t;
	font-weight: bold;
	background-color: #DDF;
	padding: 3px;
}
</style>
<script type="text/javascript">
<!--

function chktext(obj) {
	if(!obj.value){
		chktext[obj.name] =false;
		alert("未入力項目があります");
		if(!!obj.style) obj.style.backgroundColor='lightpink';
	}else{
		chktext[obj.name] = true;
		if(!!obj.style) obj.style.backgroundColor='white';
	}
}

function check(chk) {
	if (chk.elements["firstName"].value == ""
			|| chk.elements["firstName"].value == null) {
		alert("名字が未入力です");
		return false;
	} else if (chk.elements["lastName"].value == ""
			|| chk.elements["lastName"].value == null) {
		alert("名前が未入力です");
		return false;
	}
}
// -->
</script>
</head>
<body>

	<h1>ユーザ登録</h1>
	<h2>登録したい名字、名前をそれぞれ入力</h2>
	
	<form action="#" th:action="@{/checkName}" th:object="${nameForm}" method="post" onsubmit="return check(this);">
		<div>
			<label> 名字 : <input type="text" name="FIRST_NAME" th:field="*{firstName}" onblur="chktext(this)"/>
			</label>
		</div>
		<div>
			<label> 名前 : <input type="text" name="LAST_NAME" th:field="*{lastName}" onblur="chktext(this)"/>
			</label>
		</div>

		<div>
			<input type="submit" value="登録" />
		</div>
	</form>
		<hr/>
	<p></p>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="ログアウト" />
	</form>
	<p></p>
	<p>
		<a th:href="@{/home}">Topへ戻る</a>
	</p>
	
</body>
</html>